
main {
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
}

body {
    width: 100%;
    background-image: linear-gradient(#D99EC9, #F6F0C4);   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

#heading {
    background-color: rgb(18, 17, 17);
    color: wheat;
    width: 700px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
    font-size: 50px;
}
#timerContainer{
    text-align: center;
    font-size: 40px;

}

#quesTitleContainer{
    background-color: white;
    width: 700px;
    height: 10px;
    text-align: center;

}
#questionAndChoicesContainer {
    background-color: white;
    width: 700px;
    height: 400px;
    text-align: center;

}

#startIntro{
    font-size: 20px;
    padding: 50px 0px;
}
#start{
    padding: 10px 30px;
    border-radius: 10px;
}
#start:hover{
    background-color: #F2A65A;
}
#timer{
    padding: 8px;
}
#quesAns{
    padding: 30px;
}
#question{
    padding: 10px;
}

label{
    padding-left: 10px;
}
#submit{
    padding: 10px 30px;
    border-radius: 10px;
}
#submit:hover{
    background-color: #F2A65A;
}
ul{
    padding: 1px;
}
li{

    display: flex;
    justify-content: left;
    padding: 10px;
    padding-bottom: 20px;

}
#quizScore{
    padding-top: 5px;
}

#studentName{
    padding: 10px 20px;
}
#save{
    display: flex;
    align-items: center;
    padding: 10px 110px;
    margin: 50px 110px;
}
#save{
    padding: 10px 100px;
    margin: 10px 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#save:hover{
    background-color: #F2A65A;
}
#reset{
    display: flex;
    align-items: center;
    padding: 10px 110px;
    margin: 50px 110px;
}
#reset{
    padding: 10px 100px;
    margin: 10px 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reset:hover{
    background-color: #F2A65A;
}
#gameScoreResult{
    text-align: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
#scoreDetailsWithName{
    margin:-380px;

}
.hide{
    display: none;
}
