main {
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
}

body {
    width: 100%;
    background-image: linear-gradient(#F2A65A, #772F1A);   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

#heading {
    background-color: rgb(18, 17, 17);
    color: wheat;
    width: 800px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
    font-size: 50px;
}
#timerContainer{
    text-align: center;
    font-size: 40px;

}
.hide{
    display: none;
}
#quesTitleContainer{
    background-color: white;
    width: 800px;
    height: 50px;
    text-align: center;

}
#questionAndChoicesContainer {
    background-color: white;
    width: 800px;
    height: 400px;
    text-align: center;

}

#startIntro{
    font-size: 20px;
    padding: 50px 0px;
}
#start{
    padding: 10px 30px;
    border-radius: 10px;
}
#start:hover{
    background-color: #F2A65A;
}
#timer{
    padding: 8px;
}
#quesAns{
    padding: 30px;
}
#question{
    padding: 10px;
}

label{
    padding-left: 10px;
}
#submit{
    padding: 10px 30px;
    border-radius: 10px;
}
#submit:hover{
    background-color: #F2A65A;
}
ul{
    padding: 1px;
}
li{

    display: flex;
    justify-content: left;
    padding: 10px;
    padding-bottom: 20px;

}